{% extends "base.html" %}

{% block metatags %}
<title>About | Spartanlog</title>
<meta name="description" content="Explain Spartanlog.">
{% endblock %}

{% block contents %}
<div class="container">
    <div>
        <ol class="breadcrumb small">
            <li class="breadcrumb-item"><a href="{{url_for('main.index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </div>

    <h1>About this site</h1>
    <p>This is a simple member tracking site for Spartan Robotics Team 997.  It
	will allow us to keep track of who is at the lab on any day and also track
	how much time mentors and students are spending here.
	</p>
    
</div>
{% endblock %}
